div.all-images {
    padding-top: 60px;
}

div.thumbnail.tuan {
    position: relative;
    height: 200px;
    width: 200px;
}

div.thumbnail.tuan > a {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}