{% extends base.html %}

{% block custom_css %}
<link href="/static/index.css" rel="stylesheet">
{% end %}

{% block title %}Hello{% end %}

{% block content %}
<div>
  <div class="col-xs-12 col-sm-12 col-md-12">
    {% for im in image_ids_urls %}
    <div class="col-xs-4 col-sm-3 col-md-2">
      <div class="thumbnail tuan">
        <a href="photo/{{im['id']}}" style="background-image: url({{ im['image_url'] }});"></a>
        <div>{{im['id']}}</div>
      </div>
    </div>
    {% end for %}
  </div>
</div>
{% end %}